{% extends 'base.html' %}

{% block styles %}
{{super()}}
<!-- File Saver-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<link href="{{url_for('static', filename='css/digit_recognition.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="card text-center" id="main_card">
    <br>
    <div class="row">
        <div class="col-md-1 text-center"></div>
        <div class="col-md-5 text-center">
            <div class="card text-center" id="dashboard_card">
                <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                        <br>
                        <h2>Draw a Digit</h2>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <div class="row canvas-row">
                    <div class="col-md-2 text-center">
                    </div>
                    <div class="col-md-8 text-center">
                        <canvas id="canvas" width="500" height="500" style="background:black"></canvas>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <div class="row text-center button-row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-4 text-center button-column">
                            <input type="button" id="clear" value="Clear Canvas" class="button-function">
                    </div>
                    <div class="col-md-4 text-center button-column">
                        <input id="download" type="button" class="button-function" value="Download Img">
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>
                <br><br>
                </div></div>

            <div class="col-md-2 column-predict">
            <a id="predict" class="waves-effect waves-light btn-predict">Predict</a>

        </div>
        <div class="col-md-3 text-center">
            <div class="card text-center" id="predict_card">
                <div class="row">
                    <div class="col-md-2 text-center"></div>
                    <div class="col-md-8 text-center">
                        <br>
                        <h2>You draw:</h2>
                        <h5 id="result"></h5>
                    </div>
                    <div class="col-md-2 text-center"></div>
                </div>

            </div>
        </div>

</div>
<br><br>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>


<script type="text/javascript">
    var md = false;
    var canvas = document.getElementById('canvas');
    canvas.addEventListener('mousedown', down);
    canvas.addEventListener('mouseup', toggledraw);
    canvas.addEventListener('mousemove',
        function(evt) {
            var mousePos = getMousePos(canvas, evt);
            var posx = mousePos.x;
            var posy = mousePos.y;
            draw(canvas, posx, posy);
        });


    function down() {
        md = true;
    }

    function toggledraw() {
        md = false;
        canvas.style.cursor = "default";
    }

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }

    function draw(canvas, posx, posy) {
        var context = canvas.getContext('2d');
            context.fillStyle="white";

        if (md) {
            canvas.style.cursor = "pointer"
            context.fillRect(posx, posy, 30, 30);


        }
        document.getElementById('clear').addEventListener('click', function() {
            context.clearRect(0, 0, canvas.width, canvas.height);
        }, false);

    }
    document.getElementById('download').addEventListener('click', function() {
        downloadCanvas(this, 'canvas', 'test.png');
    }, false);

    function downloadCanvas(link, canvasId, filename) {
        var canvas = document.getElementById(canvasId);
        canvas.toBlob(function(blob) {
            saveAs(blob, "digit.png");
        });
    }
    $("#predict").click(function(){
       		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
       		var canvasObj = document.getElementById("canvas");
       		var img = canvasObj.toDataURL();
       		$.ajax({
       			type: "POST",
       			url: $SCRIPT_ROOT + "/predict",
       			data: img,
       			success: function(data){
       				$('#result').text(data);
       			}
       		});
       	});
</script>

{% endblock %}
</div>