<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Classifiers</title>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/navbar.css')}}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Playball|Just+Another+Hand|Merienda+One|Alex+Brush" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block styles %}{% endblock %}

</head>



<body>
    <!-- WRAPPER -->
    <div id="wrapper">

    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="{{url_for('dashboard')}}"><i class="fas fa-images" id="top-icon"></i><strong>Image Classifiers</strong></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="nav-link" target="_blank" href="https://www.linkedin.com/in/lukaszmalucha/"><i
                    class="fab fa-linkedin"></i><b> LinkedIn</b></a></li>
            <li><a class="nav-link" target="_blank" href="https://lukaszmalucha.github.io/portfolio/"><i
                    class="fab fa-github"></i> <b> GitHub</b></a></li>
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown1' id="user_dropdown"><i
                    class="fas fa-caret-down"></i><b> {{ current_user }}</b></a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>

    <!-- DROPDOWN -->
    <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('users.login') }}" id="dropdown_link"><i class="fa fa-user fa-fw"></i> Log In</a>
            </li>
            <li><a href="{{ url_for('users.logout') }}" id="dropdown_link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
            <li><a href="{{ url_for('users.register') }}" id="dropdown_link"><i class="fas fa-tasks"></i> Sign In</a>
            </li>
    </ul>

    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('users.login') }}" id="dropdown_link"><i class="fa fa-user fa-fw"></i> Log In</a>
            </li>
            <li><a href="{{ url_for('users.logout') }}" id="dropdown_link"><i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
            <li><a href="{{ url_for('users.register') }}" id="dropdown_link"><i class="fas fa-tasks"></i> Sign In</a>
            </li>
    </ul>

        <!--/. TOP NAVBAR ****************************************************************************************************************************************************************************************** -->

        <!-- PAGE-WRAPPER -->
        <div id="page-wrapper">
            <!-- PAGE-INDEX -->
            <div id="page-index">
                <div class="dashboard-cards">
                    {% block content %} {% endblock %}





                </div>

            </div>
            <!-- PAGE-INDEX -->

        </div>

        <!-- PAGE-WRAPPER -->

    </div>
    <!-- WRAPPER -->



        <!-- Bootstrap Js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <!-- Materialize Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            $('.dropdown-trigger').dropdown();
        </script>

        <script>
        $(document).ready(function() {
            $('.sidenav').sidenav();
        });
        </script>

        <script>
              $(document).ready(function(){
                $('.fixed-action-btn').floatingActionButton();
              });
        </script>

</body>

</html>
