{% extends 'base.html' %} {% block content %}
<div class="card" id="main_card">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a href="{{url_for('classify_image.classify')}}" id="classify_image_link">
            <div class="card" id="menu-card">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/image_guess.jpg')}}">
                </div>
                <div class="card-content">
                    <span class="card-title">What's on the Image?</span>
                    <p>Test yourself the one of the strongest Google Tensorflow models.</p>
                </div>
            </div>
            </a>
        </div>
         <div class="col-md-4">
            <a href="{{url_for('cat_dog_classifier.classifier')}}" id="cat_dog_classifier_link">
            <div class="card" id="menu-card">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/cat_dog.jpg')}}">
                </div>
                <div class="card-content">
                    <span class="card-title">Cat vs. Dog Recognition</span>
                    <p>Image classifier trained to distinct between cats and dogs images. CNN with Keras.</p>
                </div>
            </div>
            </a>
        </div>
         <div class="col-md-4">
            <a href="{{url_for('digit_recognition.digit_recognition')}}" id="digit_recognition_link">
            <div class="card" id="menu-card">
                <div class="card-image">
                    <img src="{{url_for('static', filename='img/digits.png')}}">
                </div>
                <div class="card-content">
                    <span class="card-title">Digit Identifier</span>
                    <p>Hand-Written Digit Recognition based on MNIST Dataset. CNN with Keras.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
    {% endblock %}
