{% extends 'base.html' %} {% block styles %} {{super()}}
<link href="{{url_for('static', filename='css/cat_dog_classifier.css')}}" rel="stylesheet" /> {% endblock %} {% block content %}
<div class="card text-center" id="main_card">
    <br><br><br>
    <div class="row">
        <div class="row text-center">
            <div class=" col-md-3 text-left"></div>
            <div class="col-md-6 text-center">
                <div class="card text-center" id="cat_dog">
                    {% if guess == "Cat" %}
                    <img src="{{url_for('static', filename='img/cat.png')}}">
                    {% else %}
                    <img src="{{url_for('static', filename='img/dog.png')}}">
                    {% endif %}
                    <br><br>
                    <h1>I predict it's a {{ guess }}</h1>
                </div>
            </div>
            <div class=" col-md-3 text-left"></div>
        </div>
    </div>
    
    <br>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large" href="{{url_for('dashboard')}}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>
</div>

{% endblock %}
